section {
  border: 1px solid #000;
  padding: 1rem;

  header {
    margin-bottom: 1rem;
  }
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
}
